In [1]:
# for loop, while loop

In [2]:
# for loop genelde koleksyonlarla kullanılır

In [3]:
my_list = [10,20,30,40,50,60,70]

In [4]:
my_list[0] / 5*2

4.0

In [6]:
for number in my_list: # Listede bulunan tum eleman (number) icin
    print(number)

10
20
30
40
50
60
70

In [8]:
for number in my_list: # Listede bulunan tum eleman (number) icin
    print(number / 5*2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [13]:
print("for loop started")
for x in my_list: 
    new_number = x / 5 * 2
    print(new_number)
print("for loop ended")

for loop started
4.0
8.0
12.0
16.0
20.0
24.0
28.0
for loop ended

In [14]:
# Alistirma 6 ya tam bölünebilen sayılari listeleyen for döngüsü yaz

In [22]:
for x in my_list:
    if (x % 6 == 0):
        print(x)

30
60

In [23]:
number_list = [1,2,3,4,5,6,7,8,9,10]

In [24]:
for num in number_list:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [25]:
my_string = "baris aydin"

In [26]:
for c in my_string:
    print(c)

b
a
r
i
s

a
y
d
i
n

In [27]:
my_tuple = (10,20,30,40,50,60,70)

In [29]:
for num in my_tuple:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [30]:
my_tuple

(10, 20, 30, 40, 50, 60, 70)

In [31]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [32]:
len(my_new_list)

4

In [33]:
my_new_list[0]

('a', 'b')

In [34]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [35]:
#tuple unpacking

In [37]:
my_new_list[0][1]

'b'

In [39]:
for (x,y) in my_new_list:
    print(y)

b
d
f
h

In [40]:
my_tuple_list= [(0,1,2),(3,4,5),(6,7,8),(9,10,11)]

In [41]:
len(my_tuple_list)

4

In [43]:
for (x,y,z) in my_tuple_list:
    print(x)

0
3
6
9

In [44]:
my_set = {1,2,3,4,5}

In [45]:
len(my_set)

5

In [46]:
for num in my_set:
    print(num)

1
2
3
4
5

In [47]:
my_dictionary = {"k1":100, "k2":200, "k3":300}

In [49]:
for element in my_dictionary:
    print(element)

k1
k2
k3

In [50]:
my_dictionary.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [51]:
for (key,value) in my_dictionary.items():
    print(value)

100
200
300

In [52]:
for num in my_dictionary.values():
    print(num)

100
200
300

In [53]:
# continue - break - pass

In [54]:
my_list = [10,20,30,40,50,60,70]

In [55]:
print("for loop started")
for num in my_list:
    print(num)
print("for loop ended")

for loop started
10
20
30
40
50
60
70
for loop ended

In [57]:
for num in my_list:
    print(num)
    if num == 40:
        print("yes")

10
20
30
40
yes
50
60
70

In [58]:
for num in my_list:
    print(num)
    if num == 40:
        print("yes")
        break

10
20
30
40
yes

In [63]:
for num in my_list:
    if num == 40:
        continue
    print(num)

10
20
30
50
60
70

In [66]:
for num in my_list:
    pass